body {
    padding: 50px;
}

#start-date {
    width: 12%;
    display: inline-block;
    margin-right: 10px;
}

#end-date {
    width: 12%;
    display: inline-block;
}

button{
    margin-left: 10px;
}